@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
html, body, #bloc-page {
  width: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ededed;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
  font-weight: 800;
}

h3 {
  font-size: 1.05rem;
}

h4 {
  font-size: 0.9rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.icon-heart, .icon-heart-index {
  color: dimgrey;
}

.menus-title {
  font-family: "Shrikhand", cursive;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 2px 8px grey;
          box-shadow: 0px 2px 8px grey;
  color: white;
  height: 50px;
  border-radius: 25px;
  font-size: 0.9rem;
  color: white;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
}

.btn:hover {
  -webkit-box-shadow: 0px 2px 8px #444444;
          box-shadow: 0px 2px 8px #444444;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#a674e2), to(#ff9de4));
  background-image: linear-gradient(to top left, #a674e2, #ff9de4);
}

.btn__nav {
  width: 65%;
}

@media (min-width: 375px) {
  .btn__nav {
    width: 225px;
  }
}

.btn__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 0 70px 0;
}

@media (min-width: 375px) {
  .btn__order {
    width: 185px;
  }
}

.btn__funct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 2px 8px #ededed;
          box-shadow: 0px 2px 8px #ededed;
  border-radius: 18px;
  width: 90%;
  height: 72px;
  background-color: #f7f7f7;
  margin: 0 0 22px 0;
}

.btn__funct:hover {
  background-color: #f4eefc;
  -webkit-box-shadow: #aaa9a9;
          box-shadow: #aaa9a9;
}

@media (min-width: 375px) {
  .btn__funct {
    width: 330px;
  }
}

@media (min-width: 1429px) {
  .btn__funct {
    margin: 0 22px;
  }
}

.btn__funct .btn__funct__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  width: 28px;
  height: 22px;
  color: #ededed;
  background-color: #9356DC;
  margin-left: -10px;
  margin-right: 8%;
}

.btn__funct .btn__funct__icon {
  margin-right: 8%;
  color: dimgrey;
}

.btn__funct .btn__funct__text {
  width: 100%;
}

header {
  text-align: center;
  padding: 22px 0 10px 0;
  width: 100%;
}

header .header__container {
  position: relative;
  width: 100%;
}

header .header__container .icon-arrow {
  position: absolute;
  top: 7px;
  left: 20px;
}

header .header__container .icon-arrow > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__logo img {
  height: 27px;
}

.menus__img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
  width: 100%;
}

.cartes-des-menus {
  position: relative;
  top: -25px;
  z-index: 4;
  border-radius: 25px 25px 0 0;
  width: 92%;
  background-color: #f7f7f7;
  padding: 0 4%;
  max-width: 450px;
}

.menus__bloc {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 100%;
  padding: 0 0 3.5% 0;
  overflow: hidden;
}

.menus__bloc .box-check {
  position: absolute;
  z-index: 1;
  right: 0%;
  width: 20%;
  height: 68px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}

.menus__bloc .menus__bloc__title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.menus__bloc .menus__bloc__title-icon .icon-heart {
  margin-top: 30px;
  margin-right: 10px;
}

.menus__bloc .menus__bloc__title-icon .icon-heart__full {
  position: absolute;
  top: 30px;
  right: 10px;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus__bloc .menus__bloc__subheadings {
  text-transform: uppercase;
  color: dimgrey;
  margin-top: 12%;
  position: relative;
}

.menus__bloc .menus__bloc__subheadings ::after {
  content: '';
  position: absolute;
  width: 11.5%;
  height: 2.5px;
  left: 0;
  bottom: -5px;
  background-color: #99E2D0;
}

.menus__bloc .menus__bloc__subheadings h3 {
  margin: 0 0 2% 0;
}

.menus__bloc .menus__bloc__btn {
  -webkit-box-shadow: #aaa9a9;
          box-shadow: #aaa9a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 0 0 0 0;
  height: 68px;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__title-details {
  padding: 0 0 0 0;
  margin: 15px 0 15px 2.5%;
  width: 75%;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__title-details h3 {
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__title-details h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: dimgrey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__title-details .check {
  position: absolute;
  padding: 2px 3.5px;
  z-index: 4;
  color: #99E2D0;
  border-radius: 50px;
  background-color: #ffff;
  right: -16%;
  bottom: 23px;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menus__bloc .menus__bloc__btn .menus__bloc__btn__price h3 {
  padding: 0 0 0 0;
  margin: 42px 20px 0 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 10% 25px 6%;
  background-color: #353535;
  color: #ededed;
  bottom: 0;
}

footer ul {
  width: 100%;
  padding: 0;
}

footer ul li {
  width: 100%;
  margin: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li .footer-icons {
  width: 20px;
  margin-right: 5px;
}

.footer__logo {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  margin-top: 2%;
}

form {
  width: 100%;
}

form .form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ededed;
  width: 100%;
  padding: 15px 0;
  -webkit-box-shadow: 0px -2px 2px lightgrey;
          box-shadow: 0px -2px 2px lightgrey;
}

form .form__search ::-webkit-input-placeholder {
  color: dimgrey;
  font-weight: bolder;
  /* Firefox */
}

form .form__search :-ms-input-placeholder {
  color: dimgrey;
  font-weight: bolder;
  /* Firefox */
}

form .form__search ::-ms-input-placeholder {
  color: dimgrey;
  font-weight: bolder;
  /* Firefox */
}

form .form__search ::placeholder {
  color: dimgrey;
  font-weight: bolder;
  /* Firefox */
}

form .form__search input {
  border: solid #ededed;
  margin-left: 2%;
  border: none;
  outline: none;
}

form .form__search .form__search__map-icon {
  margin-left: 0;
  color: dimgrey;
}

form .form__search .form__search__text {
  background-color: #ededed;
  font-size: 0.9rem;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  text-align: center;
  padding: 45px 4% 55px 4%;
  background-color: #f7f7f7;
}

nav h2 {
  width: 70%;
}

@media (min-width: 375px) {
  nav h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav p {
  width: 90%;
  color: dimgrey;
}

.functioning {
  width: 94%;
  margin: 0 0 65px 6%;
  padding-top: 50px;
}

@media (min-width: 375px) {
  .functioning {
    margin: 0 0 65px 0;
  }
}

@media (min-width: 1100px) {
  .functioning {
    margin: 0 10% 65px 10%;
  }
}

.functioning h2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 375px) {
  .functioning h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
  }
}

.functioning .functioning__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

@media (min-width: 1429px) {
  .functioning .functioning__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 4%;
  }
}

.restaurants {
  margin: 0;
  padding: 58px 0 0 6%;
  background-color: #f7f7f7;
}

@media (min-width: 600px) {
  .restaurants {
    padding-left: 0;
  }
}

.restaurants h2 {
  margin: 0 0 28px 0;
}

@media (min-width: 375px) {
  .restaurants h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
}

.restaurants .restau__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

@media (min-width: 450px) {
  .restaurants .restau__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants .restau__bloc .restau__bloc__cards {
    max-width: 400px;
  }
}

@media (min-width: 1100px) {
  .restaurants .restau__bloc {
    padding-left: 0;
  }
}

.restau__bloc__cards {
  -webkit-box-shadow: 0px 2px 8px #ededed;
          box-shadow: 0px 2px 8px #ededed;
  height: 250px;
  width: 94%;
  margin: 0 4% 5% 0;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.restau__bloc__cards > a {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 600px) {
  .restau__bloc__cards {
    margin: 0 0% 5% 0%;
  }
}

@media (min-width: 800px) {
  .restau__bloc__cards {
    margin: 0 5% 5% 5%;
  }
}

@media (min-width: 1715px) {
  .restau__bloc__cards {
    margin: 0 6% 5% 6%;
  }
}

@media (min-width: 1875px) {
  .restau__bloc__cards {
    margin: 0 7% 5% 7%;
  }
}

@media (min-width: 2069px) {
  .restau__bloc__cards {
    margin: 0 8% 5% 8%;
  }
}

@media (min-width: 2150px) {
  .restau__bloc__cards {
    margin: 0 2% 5% 2%;
  }
}

.restau__bloc__cards .restau__bloc__cards__img img {
  height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.restau__bloc__cards .restau__bloc__cards__img .nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  height: 30px;
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #278870;
}

.restau__bloc__cards .restau__bloc__cards__container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text {
  padding: 0 0 0 3%;
}

.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text h3 {
  margin-bottom: 0;
}

.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text p {
  margin-top: 5%;
}

.restau__bloc__cards .restau__bloc__cards__container .icon-heart-index {
  z-index: 3;
  margin-top: 20px;
  margin-right: 18px;
}

.restau__bloc__cards .restau__bloc__cards__container .icon-heart-index__full {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 18px;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bloc-page-index {
  opacity: 0;
  position: relative;
  z-index: 1;
  -webkit-animation: bloc-page-index 0.3s linear forwards 2s;
          animation: bloc-page-index 0.3s linear forwards 2s;
}

body {
  position: relative;
}

body .loader__container {
  position: absolute;
  width: 10vh;
  height: 10vh;
  top: 50vh;
  left: calc(50% - 2em);
  z-index: 0;
}

body .loader__container .loader {
  z-index: 0;
  opacity: 1;
  -webkit-animation: loader 2s linear forwards .2s;
          animation: loader 2s linear forwards .2s;
  background: -webkit-gradient(linear, right bottom, left top, from(#a674e2), to(#ff9de4));
  background: linear-gradient(to top left, #a674e2, #ff9de4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes bloc-page-index {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bloc-page-index {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menus__bloc .pickings1 {
  opacity: 0;
  -webkit-animation: anim 1s linear forwards 0s;
          animation: anim 1s linear forwards 0s;
}

.menus__bloc .pickings2 {
  opacity: 0;
  -webkit-animation: anim 1s linear forwards 0.4s;
          animation: anim 1s linear forwards 0.4s;
}

.menus__bloc .pickings3 {
  opacity: 0;
  -webkit-animation: anim 1s linear forwards 0.8s;
          animation: anim 1s linear forwards 0.8s;
}

.menus__bloc .box-check {
  opacity: 0;
  -webkit-animation: anim 1s linear forwards 1.5s;
          animation: anim 1s linear forwards 1.5s;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.restau__bloc__cards__container .icon-heart-index {
  opacity: 1;
}

.restau__bloc__cards__container .icon-heart-index:hover {
  -webkit-animation: heart .6s ease forwards;
          animation: heart .6s ease forwards;
}

.restau__bloc__cards__container .icon-heart-index__full {
  opacity: 0;
}

.restau__bloc__cards__container .icon-heart-index__full:hover {
  -webkit-animation: heart__full .6s ease forwards;
          animation: heart__full .6s ease forwards;
}

.menus__bloc__title-icon .icon-heart {
  opacity: 1;
}

.menus__bloc__title-icon .icon-heart:hover {
  -webkit-animation: heart .6s ease forwards;
          animation: heart .6s ease forwards;
}

.menus__bloc__title-icon .icon-heart__full {
  opacity: 0;
}

.menus__bloc__title-icon .icon-heart__full:hover {
  -webkit-animation: heart__full .6s ease forwards;
          animation: heart__full .6s ease forwards;
}

@-webkit-keyframes heart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes heart__full {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heart__full {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menus__bloc__btn {
  width: 100%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.menus__bloc__btn:hover {
  width: 80%;
  border-radius: 15px 0 0 15px;
}

.menus__bloc__btn:hover .check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.box-check:hover ~ .menus__bloc__btn {
  width: 80%;
  border-radius: 15px 0 0 15px;
}

.box-check:hover ~ .menus__bloc__btn .check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
/*# sourceMappingURL=main.css.map */