@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
html, body, #bloc-page {
  width: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ededed;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.menus-title {
  font-family: "Shrikhand", cursive;
}

.icon-heart {
  color: dimgrey;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 8px grey;
  color: white;
  height: 50px;
  border-radius: 25px;
  font-size: 0.9rem;
  color: solid white;
  background-color: #9356DC;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
}
.btn:hover {
  background-image: linear-gradient(to top left, #a674e2, #ff9de4);
}

.btn__nav {
  width: 70%;
}

.btn__order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 0 20% 0;
}

.btn__funct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 2px 8px #e5e5e5;
  border-radius: 18px;
  width: 90%;
  height: 72px;
  background-color: #f7f7f7;
  margin: 4% 0;
}
.btn__funct:hover {
  background-color: #f4eefc;
}
.btn__funct .btn__funct__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  color: #ededed;
  background-color: #9356DC;
  margin-left: -2.5%;
  margin-right: 8%;
}
.btn__funct .btn__funct__icon {
  margin-right: 8%;
  color: dimgrey;
}
.btn__funct .btn__funct__text {
  width: 100%;
}

header {
  text-align: center;
  padding: 5% 0 4% 0;
  width: 100%;
}
header .header__container {
  position: relative;
  width: 100%;
}
header .header__container .icon-arrow {
  position: absolute;
  top: 7px;
  left: 20px;
}
header .header__container .icon-arrow > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__logo img {
  height: 27px;
}

.menus__img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.img-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

.menus__bloc {
  width: 92%;
  padding: 0 4%;
  padding-bottom: 10%;
  border-radius: 25px 25px 0 0;
  background-color: #f7f7f7;
}
.menus__bloc .menus__bloc__title-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menus__bloc .menus__bloc__title-icon .icon-heart {
  margin: 9% 5% 0 0;
}
.menus__bloc .menus__bloc__subheadings {
  text-transform: uppercase;
  color: dimgrey;
  margin-top: 12%;
  position: relative;
}
.menus__bloc .menus__bloc__subheadings ::after {
  content: "";
  position: absolute;
  width: 11.5%;
  height: 2.5px;
  left: 0;
  bottom: -5px;
  background-color: #99E2D0;
}
.menus__bloc .menus__bloc__pickings {
  background-color: white;
  border-radius: 15px;
  margin: 0 0 4% 0;
}
.menus__bloc .menus__bloc__pickings h3 {
  padding: 3.5% 0 0 3%;
  margin: 1% 0 0 0;
}
.menus__bloc .menus__bloc__pickings .menus__bloc__pickings__details-price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menus__bloc .menus__bloc__pickings .menus__bloc__pickings__details-price h4 {
  padding: 1% 0 0 3%;
  margin: 1% 0 5% 0;
  color: dimgrey;
}
.menus__bloc .menus__bloc__pickings .menus__bloc__pickings__details-price h3 {
  padding: 0 6% 0 0;
  margin: 2% 0 0 0;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5% 10% 10% 6%;
  background-color: #353535;
  color: #ededed;
  bottom: 0;
}
footer ul {
  width: 100%;
  padding: 0;
}
footer ul li {
  width: 100%;
  margin: 2% 0 3% 0;
  display: flex;
}
footer ul li .footer-icons {
  width: 5%;
  margin-right: 2%;
}

.footer__logo {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  margin-top: 2%;
}

form {
  height: 12%;
  width: 100%;
}
form .form__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ededed;
  width: 100%;
  padding: 5% 0;
  box-shadow: 0px -2px 2px lightgrey;
}
form .form__search ::placeholder {
  color: dimgrey;
  font-weight: bolder;
  /* Firefox */
}
form .form__search input {
  border: solid #ededed;
  margin-left: 2%;
  border: none;
  outline: none;
}
form .form__search .form__search__map-icon {
  margin-left: 10%;
  color: dimgrey;
}
form .form__search .form__search__text {
  background-color: #ededed;
  font-size: 0.9rem;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5% 8% 8% 10%;
  background-color: #f7f7f7;
}
nav h2 {
  width: 70%;
}
nav p {
  width: 90%;
  color: dimgrey;
}

.functioning {
  width: 94%;
  margin: 0 0 10% 6%;
  padding-top: 8%;
}
.functioning h2 {
  align-items: flex-start;
}
.functioning .functioning__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.restaurants {
  margin: 0;
  padding: 10% 0 0 6%;
  background-color: #f7f7f7;
}
.restaurants .restau__bloc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 15%;
}

.restau__bloc__cards {
  box-shadow: 0px 2px 8px #e5e5e5;
  height: 250px;
  width: 94%;
  margin: 0 4% 5% 0;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.restau__bloc__cards > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.restau__bloc__cards .restau__bloc__cards__img img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restau__bloc__cards .restau__bloc__cards__img .nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #278870;
}
.restau__bloc__cards .restau__bloc__cards__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text {
  padding: 0 0 0 3%;
}
.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text h3 {
  margin-bottom: 0;
}
.restau__bloc__cards .restau__bloc__cards__container .restau__bloc__cards__container__text p {
  margin-top: 5%;
}
.restau__bloc__cards .restau__bloc__cards__container .icon-heart {
  margin: 5% 5% 0 0;
}

/*# sourceMappingURL=style.css.map */
