// Buttons

// Buttons Explorer (form) et Commander

.btn {
    @include flex(center, column); 
    @include box-shadow($shadow); 
    color: white; 
    height: 50px;
    border-radius: 25px;
    font-size: 0.9rem;
    color: white;
    background-color: $color-primary;
    background-image:
        linear-gradient(
        to top left, 
        $color-primary, $color-secondary
        );
    &:hover {
        @include box-shadow($shadow-darker); 
        background-image:
            linear-gradient(
            to top left, 
            $color-primary-lighter, $color-secondary-lighter
            );
    }    
}

.btn__nav { // "Explorer nos restaurants"
    width: 65%;
    @media (min-width: 375px) {
        width: 225px;
    }
}

.btn__order { // "Commander"
    @include flex-center(center);
    width: 50%;
    margin: 0 0 70px 0; 
    @media (min-width: 375px) {
        width: 185px;
    }
}


// Buttons de la partie Fonctionnement  

.btn__funct{
    @include flex (center, row);    
    @include box-shadow($shadow-light);  
    border-radius: 18px;
    width: 90%;
    height: 72px;
    background-color: $bg-main;
    margin: 0 0 22px 0;
    &:hover {
        background-color: $color-primary-lightest;
        @include box-shadow($shadow-mid-light);  
    }
    @media (min-width: 375px) {
        width: 330px;
    }
    @media (min-width: 1429px) {
        margin: 0 22px;
    }

    
    .btn__funct__number {
        @include flex-center(center); 
        border-radius: 25px;
        width: 28px;
        height: 22px;
        color: $text-extra-light;
        background-color: $color-primary; 
        margin-left: -10px;
        margin-right: 8%;
    }
    .btn__funct__icon {
        margin-right: 8%;
        color: $text-light; 
    }
    .btn__funct__text {
        width: 100%;
    }
}