// Animations


// Loading spinner loader

#bloc-page-index {
    opacity: 0;
    position: relative;
    z-index: 1; 
    animation: bloc-page-index 0.3s linear forwards 2.2s; // animation-name: bloc-page-index; animation-duration; linear (par défaut "ease"), ou cubic-bezier (,,,); forwards pour étendre la valeur finale; delay; 
}

body {
    position: relative; 

    .loader__container {
        position: absolute;
        left: 45%;
        top: 350px;

        background-color: solid black;
        border-radius: 50px;

        .loader {
            z-index: 3; 
            opacity: 1;
            animation: loader 2.3s linear forwards .2s;
            background: linear-gradient(
                to top left, 
                $color-primary-lighter, $color-secondary-lighter, 
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;    
        }
    }
}

@keyframes bloc-page-index {
    from {opacity: 0;} 
    to {opacity: 1;} 
}

@keyframes loader {
    0% {
        opacity: 1;
        transform: rotate(-360deg);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}


// Pickings (plats)

.menus__bloc {
    .pickings1 {
        opacity: 0;
        animation: anim 1s linear forwards 0s; 
    }
    .pickings2 {
        opacity: 0;
        animation: anim 1s linear forwards 0.4s;
    }
    .pickings3 {
        opacity: 0;
        animation: anim 1s linear forwards 0.8s;
    }
}

@keyframes anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

// Heart 

.restau__bloc__cards__container {
    .icon-heart-index {
        opacity: 1;
            &:active {
                animation: heart .5s ease forwards;
            }
    }
    .icon-heart-index__full {
        opacity: 0;
            &:active {
                animation: heart__full .5s ease forwards;
            }
    }
}

.menus__bloc__title-icon {   
    .icon-heart {
        opacity: 1;
            &:active {
                animation: heart .5s ease forwards;
            }
    }
    .icon-heart__full {
        opacity: 0;
            &:active {
                animation: heart__full .5s ease forwards;
            }
    }
}

@keyframes heart {
    from {opacity: 1;} 
    to {opacity: 0;} 
}

@keyframes heart__full {
    from {opacity: 0;} 
    to {opacity: 1;} 
}




// Pickings check (coche) 

.menus__bloc__btn {
   // &:active {    width: 80%;     border-radius: 15px 0 0 15px;   // transition: ease-in-out 5s; // ! neutralise le border-radius ! // &:active fonctionne mais dans _menus.scss
}

.box-check {    
}

.check {
    
}

@keyframes menus__bloc__btn { // fait apparaitre la box-check

}

@keyframes check { // rotation du check

}