// Base

html, body, .bloc_page {
    width: 100%;
    margin: 0;
}

.bloc_page {
}

li {
    list-style-type:none; 
}

a {
    text-decoration:none;
    color: $text-extra-light;
    background-color: transparent; //Remove the gray background on active links in IE 10.
}
