// Google Fonts

@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);


// Fonts

body {
    font-family: $roboto;
    font-size: 0.85rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
    font-weight: 800;
}

h3 {
    font-size: 1.05rem;
}

h4 {
    font-size: 0.9rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 300;
}


// Icons FontAwesome

.icon-heart, .icon-heart-index {
    color: $text-light;
}

// Parts

.menus-title {
    font-family: $Shrikhand; 
}  

