// Google Fonts

@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);


// Fonts

body {
    font-family: $roboto;
    font-size: 0.85rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
    font-weight: 800;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

.menu-title {
    font-family: $Shrikhand; 
    }  


// Icons FontAwesome

.icon-heart {
    color: $text-light;
}