// Navigation Nav


form {
    height: 12%; 
    width: 100%;
    .form__search {
        @include flex(center, row); 
        background-color: $bg-search;
        width: 100%;
        padding: 5% 0;
        box-shadow: 0px -2px 2px lightgrey;   
            .form__search__map-icon {
                margin-left: -5%;
            }
            .form__search__text {
                padding-left: 5%;
            }
    }    
}