// Presentation 

.presentation {
    @include flex(center, column);
}

// Nav 

nav {
    @include flex(center, column); 
    text-align: center;
    padding: 5% 8% 8% 10%;
    background-color: $bg-main;
    h2 {
        width: 70%;
    }
    p {
        width: 90%;
        color: $text-light;
    }
        
}

// Functioning

.functioning {
    width: 94%;  
    margin: 0 0 10% 6%;
    padding-top: 8%;
    h2 {
        align-items: flex-start; 
    }  
    .functioning__steps{
        @include flex(center, column); 
        width: 100%; 
        
    }
}
