// Restaurants

.restaurants {
    margin: 0;
    padding: 10% 0 0 6%;
    background-color: $bg-main;

    h2 { 
    }
    .restau__bloc {
        @include flex(flex-start, column);
        padding-bottom: 15%; 
    }

}

.restau__bloc__cards {
    @include box-shadow($shadow-light);  
    height: 250px; 
    width: 94%;
    margin: 0 4% 5% 0;
    border-radius: 10px;
    background-color: $bg-restau-cards-btn;
    position: relative; // cartes cliquables
    > a { // cartes cliquables
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
    }
    
    .restau__bloc__cards__img {
 
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        
        .nouveau {
            @include flex-center(center); 
            height: 30px;
            width: 80px;
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $color-tertiary;
            color: $color-tertiary-darker; 
        }
    }
    
    .restau__bloc__cards__container {
        width: 100%;
        display: flex;
        flex-direction: row;        
        justify-content: space-between;
        
        .restau__bloc__cards__container__text {  
            padding: 0 0 0 3%;
            h3 {
                margin-bottom: 0;
            }
            p {
                margin-top: 5%;
            }
        }
        
        .icon-heart {
            margin: 6% 5% 0 0;
        }
    }
}
