


// Flexbox mixins

@mixin flex($center, $direction) {
    display: flex;
    align-items: $center;
    justify-content: $center; 
    flex-direction: $direction;
}

@mixin flex-center($center) {
    display: flex;
    align-items: $center;
    justify-content: $center; 
}