// Variables

// Colors
$color-primary: #9356DC; 
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0; 

$color-primary-lighter: lighten($color-primary, 7%);
$color-primary-lightest: lighten($color-primary, 36%);

$color-secondary-lighter: lighten($color-secondary, 7%);

$color-tertiary-darker: darken($color-tertiary, 40%); 

// Back-ground colors 
$bg-search: #ededed; 
$bg-main: #f7f7f7; 
$bg-restau-cards-btn: white; 
$bg-footer: #353535;

// Text colors 
$text-light: dimgrey; 
$text-extra-light: #ededed; 

// Font Variables
$roboto: 'Roboto', sans-serif;  
$Shrikhand: 'Shrikhand', cursive;  

// Shadows
$shadow-darker: 0px 2px 8px rgb(68, 68, 68); 
$shadow: 0px 2px 8px grey;   
$shadow-mid-light: 0px 2px 8px lightgrey; 
$shadow-light: 0px 2px 8px #ededed;

