// Variables


// Colors
$color-primary: #9356DC; 
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0; 

$color-primary-lighter: lighten($color-primary, 7%);
$color-secondary-lighter: lighten($color-secondary, 7%);

// Back-ground colors 
$bg-search: #ededed; 
$bg-main: #f7f7f7; 

// Text colors 
$text-light: dimgrey; 


// Font Variables
$roboto: 'Roboto', sans-serif;  
$Shrikhand: 'Shrikhand', cursive;  

