// Footer

footer {
    @include flex(flex-start, column); 
    padding: 5% 10% 10% 6%;
    background-color: $bg-footer;
    color: $text-extra-light;
    bottom: 0;

    ul {
        width: 100%;
        padding: 0;
        li {
            width: 100%;
            margin: 2% 0 3% 0; 
            display: flex;
            .footer-icons {
                width: 5%;
                margin-right: 2%;
            }
        }
    }
}

.footer__logo {
    font-size: 1rem; 
    font-weight: 100;
    font-family: $Shrikhand; 
    margin-top: 2%;
}