// Footer

footer {
    @include flex(flex-start, column); 
    padding: 5% 10% 0 6%;
    background-color: $bg-footer;
    color: $text-extra-light;

    ul {
        padding: 0;
    }
}

.footer__logo {
    font-size: 1rem; 
    font-weight: 100;
    font-family: $Shrikhand; 
}