// Menus

.main-menus {
}

.menus__img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.img-menu {
    @include flex(center, column); 
    background-color: $bg-main; 
    width: 100%;
}

.cartes-des-menus {
    position: relative;
    top: -25px;
    z-index: 4;
    border-radius: 25px 25px 0 0;
    width: 92%;
    background-color: $bg-main;
    padding: 0 4%;
    max-width: 450px; // responsive
}

.menus__bloc {
    position: relative;
    z-index: 3;
    display: inline-block; 
    width: 100%;
    padding: 0 0 3.5% 0; 
    overflow: hidden; // cache le check

    .box-check { // partie verte
        position: absolute; 
        z-index: 1;
        right: 0%; 
        width: 20%; 
        height: 68px; // 68px
        background-color : $color-tertiary;
        border-radius: 0 15px 15px 0;     
    }    

    .menus__bloc__title-icon {
        @include flex-space (space-between, row); 
        position: relative;
        
        .icon-heart { // coeur 
            margin-top: 30px;
            margin-right: 10px;
        }

        .icon-heart__full { // coeur plein
            position: absolute;
            top: 30px; 
            right: 10px; // overflow: hidden, pas utilisé
            background: linear-gradient(to bottom left, $color-primary, $color-secondary); // dégradé sur le background
            -webkit-background-clip: text; // background apparait sur le texte uniquement
            -webkit-text-fill-color: transparent; // text transparent
        }
    }

    .menus__bloc__subheadings {
        text-transform: uppercase;
        color: $text-light;
        margin-top: 12%;
        position: relative; // pour le pseudo élément
    
        ::after { // soulignage partiel vert 
            content: '';
            position: absolute;
            width: 11.5%;
            height: 2.5px;
            left: 0;
            bottom: -5px;
            background-color: $color-tertiary; 
        }

        h3 {
            margin: 0 0 2% 0; 
        }
    }

    .menus__bloc__btn {
        @include box-shadow($shadow-light);          
        display: flex;
        position: relative;
        z-index: 2; 
        justify-content: space-between;
        background-color: $bg-restau-cards-btn;
        border-radius: 15px;
        margin: 0 0 0 0;
        height: 68px; 

        .menus__bloc__btn__title-details {
            padding: 0 0 0 0;
            margin: 15px 0 15px 2.5%; 
            width: 75%;

            h3 { // title
                padding: 0 0 0 0 ;
                margin: 0 0 10px 0;

                white-space: nowrap; // ... 
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h4 { // détails
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                color: $text-light; 

                white-space: nowrap; // ... 
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .check {
                position: absolute; 
                padding: 2px 3.5px;
                z-index: 4; 
                color: $color-tertiary; 
                border-radius: 50px;
                background-color: #ffff;    
                right: -16%; // A revoir ? 
                bottom: 23px; // hauteur à revoir ?
            }
            
        }

        .menus__bloc__btn__price {
            @include flex-space(space-between, row);
            
            h3 { // € price
                padding: 0 0 0 0 ;
                margin: 42px 20px 0 15px;
            }
        }   
    }
}