// Presentation 

.presentation {
    @include flex(center, column);
}

// Explorer 

.explorer {
    @include flex(center, column); 
    width: 90%;
    text-align: center;
    padding: 0 10%;
    p {
        color: $text-light;
    }
        
}

// Functioning

.functioning {
    width: 100%;  
    margin-left: 4%;
    h2 {
        align-items: flex-start; 
    }  
    .functioning__steps{
        @include flex(center, column); 
        width: 100%; 
        
    }
}
